.tile {
    width : 10em;
    height : 10em;
    background : cyan;
    margin-left:5em;

    transition-property: transform;
    transition-duration: 0.5s;
    /*transition-delai: 0.1s;*/
    transition-timing-function: ease;
    cursor : pointer;

    /* fix laggy transition */
    transform: translateZ(0);

}

.tile:hover {
    background: green;
    transform: translate(1em,-1em);
}

.textInTile {
    align-self : center;
}

